<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>exameonlineinit</display-name>
  <servlet>
    <servlet-name>AdmLogin</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmLogin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckAdmLogin</servlet-name>
    <servlet-class>com.servlet.admin.AdmLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAdmLogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Question</servlet-name>
    <servlet-class>com.servlet.admin.QuestionManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question</servlet-name>
    <url-pattern>/questionmanage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JavaPaperPage</servlet-name>
    <servlet-class>com.servlet.admin.JavaPaperByPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JavaPaperPage</servlet-name>
    <url-pattern>/showjavaonpaperbypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManage</servlet-name>
    <servlet-class>com.servlet.admin.UserManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManage</servlet-name>
    <url-pattern>/usermanage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WordsManage</servlet-name>
    <servlet-class>com.servlet.admin.WordsManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordsManage</servlet-name>
    <url-pattern>/wordsmanage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowJavaUserBypage</servlet-name>
    <servlet-class>com.servlet.admin.ShowJavaUserByPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowJavaUserBypage</servlet-name>
    <url-pattern>/showjavauserbypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.servlet.admin.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/deletuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowModify</servlet-name>
    <servlet-class>com.servlet.admin.ShowModifyMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowModify</servlet-name>
    <url-pattern>/modifyuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Modify</servlet-name>
    <servlet-class>com.servlet.admin.Modify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modify</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublishPaper</servlet-name>
    <servlet-class>com.servlet.admin.PublishPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishPaper</servlet-name>
    <url-pattern>/publishpaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowQuestion</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/question/showquestion.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuestion</servlet-name>
    <url-pattern>/showquestion</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharactarFilter</display-name>
    <filter-name>CharactarFilter</filter-name>
    <filter-class>com.filter.CharactarFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharactarFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ShowJavaOnline</servlet-name>
    <servlet-class>com.servlet.ShowJavaOnlin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowJavaOnline</servlet-name>
    <url-pattern>/showjavaonline</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowJavaQuestion</servlet-name>
    <servlet-class>com.servlet.ShowJavaQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowJavaQuestion</servlet-name>
    <url-pattern>/javaquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checklogin</servlet-name>
    <servlet-class>com.servlet.CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checklogin</servlet-name>
    <url-pattern>/checklogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckRegint</servlet-name>
    <servlet-class>com.servlet.CheckRegist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckRegint</servlet-name>
    <url-pattern>/checkregist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Regint</servlet-name>
    <servlet-class>com.servlet.UserRegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regint</servlet-name>
    <url-pattern>/userregist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckEmail</servlet-name>
    <servlet-class>com.servlet.CheckEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmail</servlet-name>
    <url-pattern>/checkemail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Online</servlet-name>
    <servlet-class>com.servlet.ToOnline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Online</servlet-name>
    <url-pattern>/online</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Regist</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/regist.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regist</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Center</servlet-name>
    <servlet-class>com.servlet.CenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Center</servlet-name>
    <url-pattern>/center</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>History</servlet-name>
    <jsp-file>/WEB-INF/jsp/user/history_c/history.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
</web-app>